<h1>Places Youve Been</h1>
<form action="/places" method="post">
  <label for="new-place">Location: </label>
  <input id="new-place" name="new-place" type="text">
  <label for="new-stay">Length of Stay: </label>
  <input id="new-stay" name="new-stay" type="text">
  <label for="new-picture">Picture(URL): </label>
  <input id="new-picture" name="new-picture" type="text">
  <button type="submit">Submit</button>
</form>
