<h1>Places Youve Been</h1>
<ul>
  @foreach(var place in Model)
  {
    <li>@place.GetLocation()</li>
  }
</ul>
<p><a href="/places/new">Add another place</a></p>
<form action="/places/delete" method="post">
  <button type="submit" name="button">Clear All Items</button>
</form>
