<h1>Places Youve Been</h1>
<table>
  @foreach(var place in Model)
  {
  <tr>
    <td>@place.GetLocation()</td>
    <td>@place.GetStay()</td>
    <td>@place.GetPicture()</td>
  </tr>
  }
</table>
<p><a href="/places/new">Add another place</a></p>
<form action="/places/delete" method="post">
  <button type="submit" name="button">Clear All Items</button>
</form>
